/* All Pages */
body {
  margin: 0;
}

header {
  background-color: #F6E1DC;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.center-nav {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.main-header-links {
  margin: 20px;
  text-decoration: none;
  color: #491707;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 9px;
}

.home-header-link {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  float: left;
  margin-left: 50px;
  color: #491707;
  text-decoration: none;
  display: inline-block;
}

.cart-icon {
  float: right;
  margin-right: 50px;
  display: inline-block;
  margin-top: 5px;
}

.buttons {
  width: 245px;
  height: 50px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #ffffff;
  background-color: #D25150;
  border-radius: 8px;
  border: #D25150;
}

h2 {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  font-size: 48px;
  color: #491707;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #491707;
}

/*nav a:hover{
  color: white;
}*/

/* home.html */
#banner {
  background-color: #EDA31E;
  color: #491707;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

#bunbun {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  font-size: 90px;
  margin-left: 90px;
  margin-bottom: 0;
  margin-top: 80px;
}

#bakeshop {
  margin-left: 90px;
  margin-top: 0;
}

#description {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-right: 130px;
  margin-left: 90px;
  margin-top: 70px;
  margin-bottom: 50px;
}

#shoprolls-button {
  margin-left: 90px;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  color: #491707;
}

#homeimage {
  float: left;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* shop.html */
.shop-grid {
  display: grid;
  grid-template: 2fr 3fr 3fr 1fr / repeat(5, 1fr);
  height: auto;
  width: 100%;
  height: 100%;
  grid-column-gap: 10px;
}

.shop-title {
  grid-column: 1 / span 5;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.left-space {
  grid-row: 2 / span 2;
}

.right-space {
  grid-column: 5 / span 1;
  grid-row: 2 /span 2;
}

.bottom-space {
  grid-row: 4 / span 1;
  grid-column: 1 / span 5;
}

.product {
  object-fit: cover;
}

.text-link {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  font-size: 18px;
  color: #D25150;
  margin-bottom: 5px;
  margin-top: 5px;
}

.price {
  margin-top: 0;
  margin-bottom: 50px;
}
